<h2>Dog Breeds</h2>

<div id="breeds">

<% @dogs.each do |dog| %>
		<img src=<%= "#{dog.image_url}" %>>  <br> 
		<%= dog.breed %> <br>
		<%= dog.description %> <br>
		
<br>


<% end %>

<%= will_paginate @dogs %>

</div>
