// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	
	background-image: url("dog.gif");
	background-repeat: no-repeat; 
	background-size: cover;
}

#logo{
	float:left;
}

